
body {
    font-family: 'Roboto', sans-serif;  /* ===== Font per l'intero body ===== */
    margin: 20vw; /* ===== Margine Esterno ===== */
    padding: 0px; /* ===== Margine Interno ===== */
    line-height: 1.6; /* ===== Distanza tra le righe ===== */
    background-color: #ffffff;
    color: #282A33 !important;
}


.site-wrapper2 {

background: #475C7A;
background: linear-gradient(0deg,rgba(71, 92, 122, 1) 0%, rgba(104, 93, 121, 1) 12%, rgba(161, 106, 129, 1) 26%, rgba(171, 108, 130, 1) 35%, rgba(216, 115, 127, 1) 48%, rgba(252, 187, 109, 1) 73%);
}

.site-wrapper {
background: #ff914d;
background: radial-gradient(circle,rgba(255, 145, 77, 1) 0%, rgba(209, 94, 108, 1) 100%);
  padding: 2rem;
  border-radius: 8px;
  max-width: 1200px;
  margin: auto;
}


.custom-navbar {
  font-family: 'Montserrat';
  background-color: #FCBB6D; 
  padding: 2rem 2rem 2rem 2rem;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
font-weight: 500 !important; 


 /* zindex + pos absolute per elemento al top*/

  position: absolute !important; /* or use 'fixed' if you want it to stay at the top on scroll */
  top: 0.5em !important;
  left: 2em !important;
  right: 2em !important;
  z-index: 9999 !important; /* ensures it appears above other content */


}

.navbar-brand {
  font-size: 1.25rem;
  text-decoration: none;
}


.btn-custom {
  font-family: 'Montserrat' !important;
  text-shadow: 3px 3px 3px rgba(56, 56, 56, 0.2) !important;
  background-color: rgb(255, 57, 80) !important;
  border-color: rgb(248, 46, 69) !important;
  color: #282A33 !important;
  box-shadow: 2px 2px 2px 2px rgba(0,0,0,0.2) !important;
}

.btn-custom:hover {
  background-color: rgb(255, 34, 60) !important;
  border-color: rgb(255, 34, 60) !important;
}


/* ===== MAIN ===== */


.container
{
/*z-index: 1 !important;*/
/*background-color: rgb(9, 255, 0) !important;*/
}

.carousel-inner
{
  z-index: 1 !important;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

h1
{
  font-family: 'Montserrat';
  font-size: 30px;
  padding: 2rem 1rem 2rem 1rem;
}

.bodytitles
{
  font-family: 'Montserrat';
  font-size: 3em;
  padding: 2rem 1rem 2rem 1rem;
  font-weight: 900 !important; 
  text-transform: uppercase;
  text-shadow: 3px 3px 3px rgba(56, 56, 56, 0.2);
}

#chisono
{
text-align: center; 
padding: 2rem 2rem 2rem 2rem;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

#competenze
{
text-align: center; 
padding: 2rem 2rem 2rem 2rem;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

#xp
{
text-align: center; 
padding: 2rem 2rem 2rem 2rem;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

#contatti
{
text-align: center; 
padding: 2rem 2rem 2rem 2rem;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}

.card-body
{
background: rgb(241, 161, 86);
}


a {
  color: rgba(209, 94, 108, 1 );           
  text-decoration: none;    
}

a:hover {
  color: rgb(253, 99, 117);           
  text-decoration: underline; 
}

a:visited {
  color: rgb(141, 37, 49);
  text-decoration: none;            
}

a:active {
  color: rgba(209, 94, 108, 1);           
}


.github-link {
  font-family: 'Montserrat';
  color: #282A33 !important;            
  text-decoration: none;     
  font-weight: bold;  
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);       
}

.github-link:hover {
  color: rgb(189, 49, 65) !important;            
  text-decoration: underline;
}

.facebook-link {
  font-family: 'Montserrat';
  color: #282A33 !important;           
  text-decoration: none;     
  font-weight: bold;    
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);     
}

.facebook-link:hover {
  color: rgb(189, 49, 65) !important;          
  text-decoration: underline;
}


.twitter-link {
  font-family: 'Montserrat';
  color: #282A33 !important;            
  text-decoration: none;     
  font-weight: bold;      
  text-shadow: 3px 3px 3px rgba(0,0,0,0.2);   
}

.twitter-link:hover {
  color: rgb(189, 49, 65) !important;            
  text-decoration: underline;
}


/* ===== FOOTER ===== */


footer {
    background-color: rgb(83, 55, 67);
    font-family: 'Roboto', sans-serif;
    color: rgb(214, 160, 167);
    text-align: center;
    padding: 20px;
    font-size: 1em; /*em è l'unità di default del font*/
    padding: 2rem 2rem 2rem 2rem;
box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
    
}